#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    // automouse-layer = <4>;
    // scroll-layers = <5>;
    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        tap_repeat: tap_repeat {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_REPEAT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <150>;
            flavor = "balanced";
        };

        encoder_kp: encoder_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ENCODER_KP";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        tap_repeat_hold_layer: tap_repeat_hold_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_REPEAT_HOLD_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <150>;
            flavor = "balanced";
        };

        encoder_mouse_scroll: encoder_mouse_scroll {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MOUSE_SCROLL";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W    &kp E      &kp R                               &kp T                                                                  &kp Y                    &kp U                       &kp I      &kp O    &kp P
&lt 3 A           &kp S    &kp D      &lt 2 F                             &kp G                    &kp C_MUTE        &kp RCTRL                   &mt RIGHT_COMMAND H      &tap_repeat_hold_layer 2 J  &kp K      &kp L    &mt RIGHT_COMMAND SEMICOLON
&mt LEFT_SHIFT Z  &kp X    &kp C      &mt LEFT_SHIFT V                    &lt 1 B                  &lt 5 TAB         &lt 5 TAB                   &kp N                    &mt RIGHT_SHIFT M           &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&caps_word        &kp SQT  &kp GRAVE  &tap_repeat LEFT_CONTROL BACKSPACE  &mt LEFT_COMMAND DELETE  &lt 4 ESCAPE      &tap_repeat LEFT_ALT ENTER  &mt RIGHT_COMMAND SPACE                                                  &mo 6
            >;

            sensor-bindings = <&encoder_mouse_scroll>;
        };

        FUNCTION {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5                      &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &kp F6      &kp F7  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                            &trans
            >;
        };

        SYMBOLS {
            bindings = <
&kp TILDE  &kp AT_SIGN  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp PERCENT                              &kp AMPERSAND  &kp UNDERSCORE        &kp MINUS              &kp PIPE       &kp DOUBLE_QUOTES
&kp EQUAL  &kp PLUS     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp CARET    &trans      &kp UNDERSCORE  &kp DOLLAR     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BACKSLASH  &kp SINGLE_QUOTE
&kp GRAVE  &kp TILDE    &kp LESS_THAN     &kp GREATER_THAN   &trans       &trans      &trans          &trans         &trans                &trans                 &trans         &trans
&trans     &trans       &trans            &trans             &trans       &trans      &trans          &trans                                                                     &trans
            >;

            sensor-bindings = <&encoder_kp C_BRIGHTNESS_DEC C_BRIGHTNESS_INC>;
        };

        ARROW {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans          &kp UP_ARROW    &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &kp PAGE_UP     &trans          &kp PAGE_DOWN    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                   &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans    &trans    &trans    &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &mkp MB2  &mkp MB3  &mkp MB1  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans    &trans    &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans    &trans    &trans  &trans      &trans  &trans                          &trans
            >;
        };

        NUMBERS {
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5                      &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        KBD_CTRL {
            bindings = <
&kp C_BACKLIGHT_TOGGLE  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans                  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans                  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans                  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;

            sensor-bindings = <&encoder_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };
    };
};
